<article data-postid=<%= element.postid %>>
    <div class="top">
        <div class="left">
            <img alt="image" src="https://picsum.photos/30?random=<%= Math.floor(Math.random()*100)%>"/>
        </div>
        <div class="right">
            <h3><a href="/p/<%= element.username %>"><%= element.fullname %></a> <span>@<%= element.username %></span></h3>
            <span><%= new Date(element.date).toDateString() %></span>
        </div>
    </div>
    <a href="/p/<%= element.username %>/post/<%= element.postid %>">
        <div class="content">
            <p><%= element.content %></p>
            <% if(element.image && element.image!='NULL'){ %>
                <img alt="image" src=<%= element.image %> />
            <% } else { %>
                <img alt="image" src="https://picsum.photos/500/350?random=<%= Math.floor(Math.random()*10) %>"/>
            <% } %>
        </div>
    </a>
    <div class="actions">
        <div class="left">
            <button class="<%= element.liked ? 'liked' : '' %>" onclick="likepost(event)">
                <span class="material-symbols-outlined">favorite</span>
                <span><%= element.likes %></span>
            </button>
            <button onclick="openCommentPopup(event)">
                <span class="material-symbols-outlined">comment</span>
                <span><%= element.comments %></span>
            </button>
        </div>
        <div class="right">
            <button class="<%= element.bookmarked ? 'bookmarked' : '' %>" onclick="bookmarkpost(event)"><span class="material-symbols-outlined">bookmark</span></button>
            <button><span class="material-symbols-outlined">reply</span></button>
        </div>
    </div>
</article>