<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Juno</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/post.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap"
        rel="stylesheet">

    <!-- Google Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


    <!-- Local JavaScript -->
    <script src="/js/profile.js"></script>
    <script src="/js/functions.js"></script>
</head>

<body>
    
    <div class="comment_form" id="commentmenu" onclick="closeCommentPopup(0)">
        <div class="comment_form_main" onclick="event.stopPropagation()">
            <form onsubmit="handleCommentForm(event)">
                <h2>Enter the comment</h2>
                <textarea id="commentfield" autofocus placeholder="Enter your reply" maxlength="500"></textarea>
                <div class="buttons">
                    <button onclick="closeCommentPopup(1)">Comment</button>
                    <span onclick="closeCommentPopup(0)">Cancel</span>
                </div>
            </form>
        </div>
    </div>

    <%- include('./components/nav') %>
    
        <main>
            <div class="banner">
                <div class="profile">
                    <button onclick="history.back()"><span class="material-symbols-outlined">arrow_back</span></button>
                    <div class="name">
                        <h2><%= profile.fullname %></h2>
                        <code>Posts: <%= profile.posts %></code>
                    </div>
                </div>
            </div>
            <div class="image">
                <div class="banner_image">
                    <img alt="image" src="https://picsum.photos/720/270?random=<%= Math.floor(Math.random()*1000)%>"/>
                </div>
                <div class="text user-item">
                    <span style="display: none;" class="data_element" data-username="<%= profile.username %>"></span>
                    <div class="profile_pic">
                        <img alt="<%= profile.username %>" src="https://picsum.photos/150?random=<%= Math.floor(Math.random()*1000)%>"/>
                        <div class="info">
                            <span><%= profile.fullname %></span>
                            <span style="color: #aaa; font-size: small;">@<%= profile.username %></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button onclick=<%= owner ? 'editUser(event)' : 'followUser(event)' %>>
                            <%= owner ? "Edit" : (isFollowed ? "Unfollow" : "Follow") %>
                        </button>                        
                    </div>
                </div>
            </div>

            <section class="description">
                <p><%= profile.description?profile.description:"Motivated and adaptable with strong problem-solving skills. A team player committed to continuous learning and personal growth in dynamic environments." %></p>
            </section>
            <hr/>
            <section class="posts" id="allPosts">
                <% posts.forEach(element => { %>
                    <%- include('./components/post', {element:element}) %>
                    <br/>
                <% }) %>
            </section>
            <section class="moreposts" id="thereadend">
                Loading more posts...
            </section>
        </main>

        <%- include('./components/footer') %>
</body>

</html>